# Fiba Europe Machine Learning Project

## Part 3: Finding Additional Metadata


As I alluded to in Part 1, one frustrating aspect of the raw play-by-play files is the lack of metadata concerning the date when a match is played, as well as the age and sex of the participants. 

In an attempt to solve this, I found this archive (hopefully the site still exists):

https://archive.fiba.com/pages/eng/fa/event/p/cid//sid/9691/_//schedule.html

Here we have pages which contain:
* leage and competition names
* dates of competition!
* team names

There are "schedule" pages, containing tournament schedules and results, and "boxscore" pages, with boxscore info of each match

screenshots below:

schedule:
<img src="fiba_europe_example/screenshot-fiba-archive-schedule.png">

boxscore:
<img src="fiba_europe_example/screenshot-fiba-archive-boxscores.png">

### The Idea

1. Scrape these pages, compiling a table with competition, team names, dates, etc (as well as a separate table with boxscores)

2. Using the team names, competition names and final scores of the games, pair the raw play-by-play matches with their corresponding "schedule" and "boxscore" pages, if possible. The pairings will not be perfect, as team names are sometimes slightly different from the play-by-play data to the schedule, and certain schedule pages may not be scraped, but with a little logic we should be able to add important metadata to the play-by-play matches

In [6]:
import requests
import lxml.html as lh
import lxml.etree as etree
import pandas as pd


def get_schedule_for_fiba_archive_page(page_id):
    """Scrapes archive.fiba.com for a given page_id, compiling metadata for each match on the page
  
    Args:
        page_id (int): id associated with a 'schedule' page on archive.fiba.com
        
    Returns:
        Pandas dataframe with schedule metadata for each match included on the page

    """

    url = "https://archive.fiba.com/pages/eng/fa/event/p/cid//sid/{page_id}/_//schedule.html".format(page_id= str(page_id))
    page = requests.get(url)

    #Store the contents of the website under doc
    doc = lh.fromstring(page.content)
    
    #Parse data that are stored between <tr>..</tr> of HTML
    tr_elements = doc.xpath('//tr')
    
    table_rows = len(tr_elements)
    
    print("total tables rows:" + str(table_rows))
    
    df_keys = ['tourney_section','hometeam_name'
                       ,'awayteam_name'
                       ,'hometeam_score'
                       ,'awayteam_score'
                       ,'boxscore_url'
                       ,'match_location'
                       ,'current_section_date'
                       ,'page_id'
                       ,'page_header_text']
    df_page  = pd.DataFrame( columns=df_keys)
    
    # Try to find page title
    page_header_text = ""

    try:
        el = doc.xpath("//div[@class='image']")
        decoded_el = etree.tostring(el[0]).decode("utf-8")                 
        page_header_text = decoded_el[decoded_el.find('title="')+len('title="'):decoded_el.find('" style=')]
    except:
        pass
    
    
    
    current_section_date = ""
    for j in range(0,table_rows):
    
        Dict={}
        Dict['page_id']=page_id
        Dict['page_header_text']=page_header_text
        
        T=tr_elements[j]
        
        column_index = 0;     
    
        for t in T.iterchildren():
            
            if len(T)==2 and column_index==0:
                current_section_date= t.text_content()
#                 print("adding current section date: " + current_section_date)
                break;
            else:
               
                if column_index==0:
                    Dict['tourney_section']=t.text_content()
                elif column_index==1:
#                     print("team names: " + t.text_content().strip())
                    
                    try:
                    
                        Dict['hometeam_name']=t.text_content().splitlines()[0]
                        Dict['awayteam_name']=t.text_content().splitlines()[1]     
                        full_string = etree.tostring(t).decode("utf-8") 
                        split_string = full_string.split('index.html">')
                        team_one = split_string[1][:split_string[1].find('<')]
                        team_two = split_string[2][:split_string[2].find('<')]
                        Dict['hometeam_name']=team_one 
                        Dict['awayteam_name']=team_two      
                        
                    except:
                        pass

                        
                elif column_index==2:                
                    if t.get('class')=='pt':                        
                        try:
                            
                            full_string = etree.tostring(t).decode("utf-8")                    
                            split_string = full_string.split('<br />')
                            score_one = split_string[0][(len(split_string[0])-split_string[0][::-1].find('>')):];
                            score_two = split_string[1][:split_string[1].find('<')]
                            Dict['hometeam_score']=score_one 
                            Dict['awayteam_score']=score_two  
                        except:
                            pass
                        
                elif column_index==3:

                    try:                        
                        full_string = etree.tostring(t).decode("utf-8")                 
                        url = full_string[full_string.find('href="')+6:full_string.find('">Boxscore')]
                        Dict['boxscore_url']= url
                    except:
                        pass
                elif column_index==4:
                    Dict['match_location']=t.text_content() 
    
            column_index += 1
        if len(T)>2: 
            Dict['current_section_date']=current_section_date 
            df  = pd.DataFrame([Dict], columns=df_keys)
            df_page = pd.concat([df_page, df], axis =0).reset_index(drop=True)
    return df_page


df_schedule = get_schedule_for_fiba_archive_page(9691)
df_schedule.head(10)

total tables rows:183

,tourney_section,hometeam_name,awayteam_name,hometeam_score,awayteam_score,boxscore_url,match_location,current_section_date,page_id,page_header_text
0,B/1,Atomer&#246;m&#252; SE,CSM Oradea,78,77,/pages/eng/fa/game/p/gid/1/grid/B/rid/9691/sid...,Paks (HUN),5 November 2013,9691,2014 EuroChallenge
1,D/1,BC Kyiv,Medias,74,83,/pages/eng/fa/game/p/gid/1/grid/D/rid/9691/sid...,Kiev (UKR),5 November 2013,9691,2014 EuroChallenge
2,H/2,Szolnoki Olaj,Rilski Sportist,73,66,/pages/eng/fa/game/p/gid/2/grid/H/rid/9691/sid...,Szolnok (HUN),5 November 2013,9691,2014 EuroChallenge
3,G/1,Kataja Basket,Cholet Basket,76,70,/pages/eng/fa/game/p/gid/1/grid/G/rid/9691/sid...,Joensuu (FIN),5 November 2013,9691,2014 EuroChallenge
4,C/1,Tartu Rock,BK Ventspils,65,66,/pages/eng/fa/game/p/gid/1/grid/C/rid/9691/sid...,Tartu (EST),5 November 2013,9691,2014 EuroChallenge
5,C/2,S&#246;dert&#228;lje BK,BC Zepter Vienna,82,73,/pages/eng/fa/game/p/gid/2/grid/C/rid/9691/sid...,Södertälje (SWE),5 November 2013,9691,2014 EuroChallenge
6,F/1,Tofas SC,Jaszberenyi,86,72,/pages/eng/fa/game/p/gid/1/grid/F/rid/9691/sid...,Bursa (TUR),5 November 2013,9691,2014 EuroChallenge
7,F/2,KRKA,Ural Ekaterinburg,80,75,/pages/eng/fa/game/p/gid/2/grid/F/rid/9691/sid...,Novo Mesto (SLO),5 November 2013,9691,2014 EuroChallenge
8,H/1,Tsmoki-Minsk,BC Mures,79,83,/pages/eng/fa/game/p/gid/1/grid/H/rid/9691/sid...,Minsk (BLR),5 November 2013,9691,2014 EuroChallenge
9,A/2,SPM Shoeters,Rakvere Tarvas,78,71,/pages/eng/fa/game/p/gid/2/grid/A/rid/9691/sid...,Den Bosch (NED),5 November 2013,9691,2014 EuroChallenge

In [11]:
# Now try boxscores
import numpy as np

def get_player_data_for_fiba_archive_boxscore(boxscore_url):
    """ Scrapes archive.fiba.com for a given url (these are scraped from the schedule pages).
        Compiles boxscor info for each match on the page
  
    Args:
        boxscore_url (str): url of boxscore page on archive.fiba.com
        
    Returns:
        Pandas dataframe with boxscore info the page

    """
    
    page = requests.get(boxscore_url)
    doc = lh.fromstring(page.content)
    
    tr_elements = doc.xpath('//tr')
    table_rows = len(tr_elements)
    
    countries = doc.xpath("//div[@class='row-country']")
    
    table_index = 0;
    is_player_table = False;
    current_team_name="";
    
    
    df_keys = ['boxscore_url'
               ,'team_name'
               ,'number'
               ,'name'
               ,'min'
               ,'field_goals_made'
               ,'field_goals_attempted'
               ,'field_goals_percent'
               ,'two_pointers_made'
               ,'two_pointers_attempted'
               ,'two_pointers_percent'
               ,'three_pointers_made'
               ,'three_pointers_attempted'
               ,'three_pointers_percent'           
               ,'free_throws_made'
               ,'free_throws_attempted'
               ,'free_throws_percent'           
               
               ,'offensive_rebounds'
               ,'defensive_rebounds'
               ,'total_rebounds'
               ,'assists'
               ,'personal_fouls'
               ,'turnovers'
               ,'steals'
               ,'blocked_shots'
               ,'points'
               
               
               ]
    df_page  = pd.DataFrame( columns=df_keys)
    
    
        
    
    for j in range(0,table_rows):
    
        Dict={}
        Dict['boxscore_url'] = boxscore_url
    
        T=tr_elements[j]

        
        if len(T)>=2 and T[1].get('class') != None  and ('name' in T[1].get('class')):

            if is_player_table == False:
                current_team_name = countries[table_index].text_content()
                table_index +=1
                is_player_table = True

            is_player_table = True
            column_index = 0;     
            
            if len(T)==6:
                        
                for t in T.iterchildren():
    
                                
                    if column_index==0:
                        Dict['number']=t.text_content()
                    elif column_index==1:
                        Dict['name']=t.text_content().strip().replace('*','')
                    elif column_index==2:

                        try:
                            split_string  = t.text_content().split('/')
                            Dict['free_throws_made']= split_string[0]
                            Dict['free_throws_attempted']= split_string[1]                    
                        except:
#                            print("free throws split failed: " + t.text_content())
                            pass
                                
                    elif column_index==3:
                        Dict['free_throws_percent']= t.text_content()
                        
                    elif column_index==4:
                        Dict['personal_fouls']= t.text_content()                        
                            
                    elif column_index==5:
                        Dict['points']= t.text_content()
                    
        
        
                    column_index += 1        

            else:
                    
                                            
                for t in T.iterchildren():
    
                                
                    if column_index==0:
                        Dict['number']=t.text_content()
                    elif column_index==1:
                        Dict['name']=t.text_content().strip().replace('*','')
                    elif column_index==2:
                        Dict['min']=t.text_content().strip().replace('Did not play','0')
                    elif column_index==3:
                        
                        try:
                            split_string  = t.text_content().split('/')
                            Dict['field_goals_made']= split_string[0]
                            Dict['field_goals_attempted']= split_string[1]                    
                        except:
#                            print("field goal split failed: " + t.text_content())
                            pass
        
                    elif column_index==4:
                        
                            Dict['field_goals_percent']= t.text_content()
        
                    elif column_index==5:
                        
                        try:
                            split_string  = t.text_content().split('/')
                            Dict['two_pointers_made']= split_string[0]
                            Dict['two_pointers_attempted']= split_string[1]                    
                        except:
#                            print("two pointers split failed: " + t.text_content())
                            pass
        
                    elif column_index==6:
                        
                            Dict['two_pointers_percent']= t.text_content()
        
                    elif column_index==7:
                        
                        try:
                            split_string  = t.text_content().split('/')
                            Dict['three_pointers_made']= split_string[0]
                            Dict['three_pointers_attempted']= split_string[1]                    
                        except:
#                            print("three pointers split failed: " + t.text_content())
                            pass
        
                    elif column_index==8:
                        
                            Dict['three_pointers_percent']= t.text_content()
        
        
                    elif column_index==9:
                        
                        try:
                            split_string  = t.text_content().split('/')
                            Dict['free_throws_made']= split_string[0]
                            Dict['free_throws_attempted']= split_string[1]                    
                        except:
#                            print("free throws split failed: " + t.text_content())
                            pass
        
                    elif column_index==10:
                        
                            Dict['free_throws_percent']= t.text_content()
        
                    elif column_index==11:
                        
                            Dict['offensive_rebounds']= t.text_content()
        
                    elif column_index==12:
                        
                            Dict['defensive_rebounds']= t.text_content()
        
                    elif column_index==13:
                        
                            Dict['total_rebounds']= t.text_content()
        
        
                    elif column_index==14:
                        
                            Dict['assists']= t.text_content()
        
                    elif column_index==15:
                        
                            Dict['personal_fouls']= t.text_content()
        
                    elif column_index==16:
                        
                            Dict['turnovers']= t.text_content()
        
                    elif column_index==17:
                        
                            Dict['steals']= t.text_content()
        
                    elif column_index==18:
                        
                            Dict['blocked_shots']= t.text_content()
        
                    elif column_index==19:
                        
                            Dict['points']= t.text_content()
        
        
        
                    column_index += 1        
            
                    
                    
            
        else:
            is_player_table = False
        
        
        
        if len(T)>=2 and T[1].get('class') != None  and ('name' in T[1].get('class')) and len(Dict['name'])>0:
#            print("dick name: " + Dict['name'])
            Dict['team_name'] = current_team_name
            df  = pd.DataFrame([Dict], columns=df_keys)
            # Remove header row
            df = df[(df['name']!='Name') ] 
            
            df_page = pd.concat([df_page, df], axis =0).reset_index(drop=True)
    df_page['name'].replace('', np.nan, inplace=True)   
    df_page.dropna(subset=['name'], inplace=True)         
    return df_page

sample_boxscore_url = "https://archive.fiba.com{boxscore_url}".format(boxscore_url=df_schedule.boxscore_url[2])
print("processing url: "+ sample_boxscore_url)

df_boxscore = get_player_data_for_fiba_archive_boxscore(sample_boxscore_url)
df_boxscore.head(10)

processing url: https://archive.fiba.com/pages/eng/fa/game/p/gid/2/grid/H/rid/9691/sid/9691/_/2014_EuroChallenge/statistic.html

,boxscore_url,team_name,number,name,min,field_goals_made,field_goals_attempted,field_goals_percent,two_pointers_made,two_pointers_attempted,...,free_throws_percent,offensive_rebounds,defensive_rebounds,total_rebounds,assists,personal_fouls,turnovers,steals,blocked_shots,points
0,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,4,B. SIMON,25,3,5,60,2,3,...,0,0,1,1,6,2,0,1,0,7
1,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,5,Á. HORVÁTH,12,1,7,14.3,1,3,...,0,0,0,0,2,0,1,0,0,2
2,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,6,A. KELLER,13,3,6,50,3,6,...,0,1,0,1,0,1,0,0,2,6
3,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,9,D. VOJVODA,28,2,10,20,1,5,...,75,3,1,4,3,1,2,1,0,8
4,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,10,L. MARKOVIC,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,11,Z. TOTH,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,12,M. RAKIC,16,1,4,25,1,1,...,0,0,2,2,1,2,2,0,0,2
7,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,13,W. WARREN,34,8,13,61.5,4,8,...,0,0,7,7,5,2,3,0,0,20
8,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,14,M. BÁDER,3,0,2,0,0,2,...,0,1,2,3,0,0,0,0,0,0
9,https://archive.fiba.com/pages/eng/fa/game/p/g...,SZOLNOKI OLAJ,15,T. IVOSEV,21,7,7,100,6,6,...,50,3,5,8,0,3,1,1,2,16

### 3.2 -- Matching Metadata

For a variety of reasons, I ended up **moving all of my collected tables into a postgres sql database, and performed the matching there**. The tables are:
* fiba play-by-play information (from part 2) --> `fiba_europe_games_master`
* schedule metadata --> `fiba_europe_schedules`
* boxscore metadata --> `fiba_europe_boxscores_master`


Sadly, this part is not easily replicable here. However, I can show some code and break down the process. The end result is a table called `fiba_europe_game_xref`, which has associated schedule page information for each match id. 

To achieve this requires four steps:

1. Make the `fiba_europe_game_xref` table and load into it unique match ids
2. Applying logic to find the best possible matches (and reject those that are not ideal), and add data from `fiba_europe_schedules` for those match ids where we can be reasonably sure of a robust match
3. Based on schedule and boxscore data, assign a sex to the match
4. Based on schedule and boxscore data, assign an age to the match

In [9]:
# !pip install ipython-sql 
# %load_ext ipython-sql
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%%sql

/*
Part 1 - Make the `fiba_europe_game_xref` table and load into it unique match ids
**/

drop table if exists fiba_europe_game_xref;
create table fiba_europe_game_xref (
  match_id varchar(256),
  schedule_date timestamp,
  page_header_text varchar(255),
  match_location varchar(255),
  boxscore_url varchar(255),
  schedule_page_id varchar(255),
  page_header_text_search_term_sex varchar(255),
  page_header_text_league_sex varchar(255),
  page_header_text_search_term_age varchar(255),
  page_header_text_league_age varchar(255),
  metadata_competition_name varchar(255),
  match_metadata_competition_name_search_term_sex varchar(255),
  match_metadata_competition_name_league_sex varchar(255),
  match_metadata_competition_name_search_term_age varchar(255),
  match_metadata_competition_name_league_age varchar(255),

  insert_date timestamp
);

INSERT INTO fiba_europe_game_xref
SELECT DISTINCT match_id
FROM fiba_europe_games_master
order by match_id
;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

/*
Part 2 - Applying logic to find the best possible matches (and reject those 
that are not ideal), add data from `fiba_europe_schedules` for those match ids 
where we can be reasonably sure of a robust match

the idea is to make a 'score' of the likelihood that a match is the same match in the 
schedules table, and accept as 'truth' those matches which have a high 'matching score'
and do not have other possible matches that have high matching scores as well. In other words,
accept matches where I think there is only one good match to be made.
**/

UPDATE fiba_europe_game_xref  SET schedule_date = B.schedule_date
  , page_header_text= B.page_header_text
  , match_location= B.match_location
  , boxscore_url= B.boxscore_url
  , schedule_page_id= B.schedule_page_id
  ,insert_date = now()
FROM
  (

SELECT *
FROM (
  SELECT *
      ,row_number()
      OVER (partition by match_id, unique_row_rank_master order by (case when team_name_hometeam = match_hometeam and team_name_awayteam = match_awayteam
                                                                           then 1
                                                                         when team_name_hometeam = match_hometeam and
                                                                              schedules_awayteam_contains_master_awayteam_score > 0
                                                                           then 100 - schedules_awayteam_contains_master_awayteam_score
                                                                         when team_name_awayteam = match_awayteam and
                                                                              schedules_hometeam_contains_master_hometeam_score > 0
                                                                           then 100 - schedules_hometeam_contains_master_hometeam_score
                                                                         else 200 -
                                                                              schedules_hometeam_contains_master_hometeam_score -
                                                                              schedules_awayteam_contains_master_awayteam_score end) asc) as safe_rank_master
      ,row_number()
      OVER (partition by match_id, unique_row_rank_schedules order by (case when team_name_hometeam = match_hometeam and team_name_awayteam = match_awayteam
                                                                              then 1
                                                                            when team_name_hometeam = match_hometeam and
                                                                                 schedules_awayteam_contains_master_awayteam_score > 0
                                                                              then 100 - schedules_awayteam_contains_master_awayteam_score
                                                                            when team_name_awayteam = match_awayteam and
                                                                                 schedules_hometeam_contains_master_hometeam_score > 0
                                                                              then 100 - schedules_hometeam_contains_master_hometeam_score
                                                                            else 200 -
                                                                                 schedules_hometeam_contains_master_hometeam_score -
                                                                                 schedules_awayteam_contains_master_awayteam_score end) asc) as safe_rank_schedule

  ,(case when team_name_hometeam = match_hometeam and team_name_awayteam = match_awayteam
                                                                           then 1
                                                                         when team_name_hometeam = match_hometeam and
                                                                              schedules_awayteam_contains_master_awayteam_score > 0
                                                                           then 100 - schedules_awayteam_contains_master_awayteam_score
                                                                         when team_name_awayteam = match_awayteam and
                                                                              schedules_hometeam_contains_master_hometeam_score > 0
                                                                           then 100 - schedules_hometeam_contains_master_hometeam_score
                                                                         else 200 -
                                                                              schedules_hometeam_contains_master_hometeam_score -
                                                                              schedules_awayteam_contains_master_awayteam_score end) as combo_score

  FROM (
    SELECT xx.match_id
        ,xx.team_name_hometeam
        ,xx.team_name_awayteam
        ,yy.team_name_hometeam as match_hometeam
        ,yy.team_name_awayteam as match_awayteam
        ,schedule_date
        ,page_header_text
        ,match_location
        ,boxscore_url
        ,schedule_page_id
        ,unique_row_rank_master
        ,unique_row_rank_schedules
        ,(case when (length(split_part(xx.team_name_awayteam, ' ', 1)) > 0 and
                     yy.team_name_awayteam like '%' || split_part(xx.team_name_awayteam, ' ', 1) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_awayteam, ' ', 2)) > 0 and
                     yy.team_name_awayteam like '%' || split_part(xx.team_name_awayteam, ' ', 2) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_awayteam, ' ', 3)) > 0 and
                     yy.team_name_awayteam like '%' || split_part(xx.team_name_awayteam, ' ', 3) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_awayteam, ' ', 4)) > 0 and
                     yy.team_name_awayteam like '%' || split_part(xx.team_name_awayteam, ' ', 4) || '%')
                 then 1
               else 0 end) as schedules_awayteam_contains_master_awayteam_score
        ,(case when (length(split_part(xx.team_name_hometeam, ' ', 1)) > 0 and
                     yy.team_name_hometeam like '%' || split_part(xx.team_name_hometeam, ' ', 1) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_hometeam, ' ', 2)) > 0 and
                     yy.team_name_hometeam like '%' || split_part(xx.team_name_hometeam, ' ', 2) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_hometeam, ' ', 3)) > 0 and
                     yy.team_name_hometeam like '%' || split_part(xx.team_name_hometeam, ' ', 3) || '%')
                 then 1
               else 0 end)
      +
         (case when (length(split_part(xx.team_name_hometeam, ' ', 4)) > 0 and
                     yy.team_name_hometeam like '%' || split_part(xx.team_name_hometeam, ' ', 4) || '%')
                 then 1
               else 0 end) as schedules_hometeam_contains_master_hometeam_score


    FROM (
      SELECT match_id
          ,metadata_competition_name
          ,trim(lower(team_name_hometeam)) as team_name_hometeam
          ,trim(lower(team_name_awayteam)) as team_name_awayteam
          ,max(current_score_hometeam) as final_score_hometeam
          ,max(current_score_awayteam) as final_score_awayteam
          ,row_number() OVER () as unique_row_rank_master
      FROM fiba_europe_games_master
        --     where trim(lower(team_name_hometeam))  like '%red%'--'ossm pzkosz pomerania'
        --     and   trim(lower(team_name_awayteam)) = 'bc nsa sofia'
      group by 1,2,3,4
    ) xx
           left join (
      SELECT trim(lower(hometeam_name)) as team_name_hometeam
          ,trim(lower(awayteam_name)) as team_name_awayteam
          ,cast(hometeam_score as integer) as final_score_hometeam
          ,cast(awayteam_score as integer) as final_score_awayteam
          ,cast(current_section_date as timestamp) as schedule_date
          ,page_header_text
          ,match_location
          ,boxscore_url
          ,page_id as schedule_page_id
          ,row_number() OVER () as unique_row_rank_schedules
      FROM fiba_europe_schedules
    ) as yy
    on (
        xx.final_score_hometeam = yy.final_score_hometeam
        and xx.final_score_awayteam = yy.final_score_awayteam
      )
  ) as s2
) as s3
where safe_rank_master =1 and safe_rank_schedule = 1
and combo_score <200

  ) as B
WHERE fiba_europe_game_xref.match_id = B.match_id;
;

In [ ]:
%%sql
/*
Part 3.1 - Make a big xref table with search terms that I believe designate the sex
of a match/league/competition
**/

DROP TABLE IF EXISTS fiba_europe_league_sex;

CREATE TABLE fiba_europe_league_sex as (

SELECT 'women' as search_term, 'female' as league_sex UNION
SELECT 'Women' as search_term, 'female' as league_sex UNION
SELECT 'female' as search_term, 'female' as league_sex UNION
SELECT 'ladies' as search_term, 'female' as league_sex UNION
SELECT 'Female' as search_term, 'female' as league_sex UNION
SELECT 'Ladies' as search_term, 'female' as league_sex UNION
SELECT 'lady' as search_term, 'female' as league_sex UNION
SELECT 'Lady' as search_term, 'female' as league_sex UNION
SELECT 'Feminin' as search_term, 'female' as league_sex UNION
SELECT 'feminin' as search_term, 'female' as league_sex UNION
SELECT 'girl' as search_term, 'female' as league_sex UNION
SELECT 'Girl' as search_term, 'female' as league_sex UNION
SELECT 'femmin' as search_term, 'female' as league_sex UNION
SELECT 'Femmin' as search_term, 'female' as league_sex UNION
SELECT 'Femen' as search_term, 'female' as league_sex UNION
SELECT 'femen'          as search_term, 'female' as league_sex UNION
SELECT 'Woman' as search_term, 'female' as league_sex UNION
SELECT 'woman' as search_term, 'female' as league_sex UNION
SELECT 'Femen' as search_term, 'female' as league_sex UNION
SELECT 'femen' as search_term, 'female' as league_sex UNION
SELECT 'Damen' as search_term, 'female' as league_sex UNION
SELECT 'damen' as search_term, 'female' as league_sex UNION
SELECT 'U22W' as search_term, 'female' as league_sex UNION
SELECT 'U21W' as search_term, 'female' as league_sex UNION
SELECT 'U20W' as search_term, 'female' as league_sex UNION
SELECT 'U19W'                as search_term, 'female' as league_sex UNION
SELECT 'U18W' as search_term, 'female' as league_sex UNION
SELECT 'U16W' as search_term, 'female' as league_sex UNION
SELECT 'U15W' as search_term, 'female' as league_sex UNION
SELECT 'U14W' as search_term, 'female' as league_sex UNION
SELECT 'U13W' as search_term, 'female' as league_sex UNION
SELECT 'U12W' as search_term, 'female' as league_sex UNION
SELECT 'U11W' as search_term, 'female' as league_sex UNION
SELECT 'U10W' as search_term, 'female' as league_sex UNION
SELECT 'U22w' as search_term, 'female' as league_sex UNION
SELECT 'U21w' as search_term, 'female' as league_sex UNION
SELECT 'U20w' as search_term, 'female' as league_sex UNION
SELECT 'U19w'                as search_term, 'female' as league_sex UNION
SELECT 'U18w' as search_term, 'female' as league_sex UNION
SELECT 'U16w' as search_term, 'female' as league_sex UNION
SELECT 'U15w' as search_term, 'female' as league_sex UNION
SELECT 'U14w' as search_term, 'female' as league_sex UNION
SELECT 'U13w' as search_term, 'female' as league_sex UNION
SELECT 'U12w' as search_term, 'female' as league_sex UNION
SELECT 'U11w' as search_term, 'female' as league_sex UNION
SELECT 'U10w' as search_term, 'female' as league_sex UNION
SELECT '22 W' as search_term, 'female' as league_sex UNION
SELECT '21 W' as search_term, 'female' as league_sex UNION
SELECT '20 W' as search_term, 'female' as league_sex UNION
SELECT '19 W'                as search_term, 'female' as league_sex UNION
SELECT '18 W' as search_term, 'female' as league_sex UNION
SELECT '16 W' as search_term, 'female' as league_sex UNION
SELECT '15 W' as search_term, 'female' as league_sex UNION
SELECT '14 W' as search_term, 'female' as league_sex UNION
SELECT '13 W' as search_term, 'female' as league_sex UNION
SELECT '12 W' as search_term, 'female' as league_sex UNION
SELECT '11 W' as search_term, 'female' as league_sex UNION
SELECT '10 W' as search_term, 'female' as league_sex UNION
SELECT '22 w' as search_term, 'female' as league_sex UNION
SELECT '21 w' as search_term, 'female' as league_sex UNION
SELECT '20 w' as search_term, 'female' as league_sex UNION
SELECT '19 w'                as search_term, 'female' as league_sex UNION
SELECT '18 w' as search_term, 'female' as league_sex UNION
SELECT '16 w' as search_term, 'female' as league_sex UNION
SELECT '15 w' as search_term, 'female' as league_sex UNION
SELECT '14 w' as search_term, 'female' as league_sex UNION
SELECT '13 w' as search_term, 'female' as league_sex UNION
SELECT '12 w' as search_term, 'female' as league_sex UNION
SELECT '11 w' as search_term, 'female' as league_sex UNION
SELECT '10 w'     as search_term, 'female' as league_sex UNION
SELECT '22W' as search_term, 'female' as league_sex UNION
SELECT '21W' as search_term, 'female' as league_sex UNION
SELECT '20W' as search_term, 'female' as league_sex UNION
SELECT '19W'                as search_term, 'female' as league_sex UNION
SELECT '18W' as search_term, 'female' as league_sex UNION
SELECT '16W' as search_term, 'female' as league_sex UNION
SELECT '15W' as search_term, 'female' as league_sex UNION
SELECT '14W' as search_term, 'female' as league_sex UNION
SELECT '13W' as search_term, 'female' as league_sex UNION
SELECT '12W' as search_term, 'female' as league_sex UNION
SELECT '11W' as search_term, 'female' as league_sex UNION
SELECT '10W' as search_term, 'female' as league_sex UNION
SELECT '22w' as search_term, 'female' as league_sex UNION
SELECT '21w' as search_term, 'female' as league_sex UNION
SELECT '20w' as search_term, 'female' as league_sex UNION
SELECT '19w'                as search_term, 'female' as league_sex UNION
SELECT '18w' as search_term, 'female' as league_sex UNION
SELECT '16w' as search_term, 'female' as league_sex UNION
SELECT '15w' as search_term, 'female' as league_sex UNION
SELECT '14w' as search_term, 'female' as league_sex UNION
SELECT '13w' as search_term, 'female' as league_sex UNION
SELECT '12w' as search_term, 'female' as league_sex UNION
SELECT '11w' as search_term, 'female' as league_sex UNION
SELECT '10w'               as search_term, 'female' as league_sex UNION
SELECT 'γυναίκες' as search_term, 'female' as league_sex UNION
SELECT 'Γυναίκα' as search_term, 'female' as league_sex UNION
SELECT 'γυνή' as search_term, 'female' as league_sex UNION
SELECT 'Γυναίκες' as search_term, 'female' as league_sex UNION
SELECT 'Dames' as search_term, 'female' as league_sex UNION
SELECT 'dames' as search_term, 'female' as league_sex UNION
SELECT 'Dámské' as search_term, 'female' as league_sex UNION
SELECT 'dámské' as search_term, 'female' as league_sex UNION
SELECT 'Kobiet' as search_term, 'female' as league_sex UNION
SELECT 'kobiet' as search_term, 'female' as league_sex UNION
SELECT 'ženy' as search_term, 'female' as league_sex UNION
SELECT 'Wom ' as search_term, 'female' as league_sex UNION
SELECT 'Dziewcząt' as search_term, 'female' as league_sex UNION
SELECT 'Γυναικών' as search_term, 'female' as league_sex UNION
SELECT 'djevojčice' as search_term, 'female' as league_sex UNION
SELECT 'Sub-16 Fem' as search_term, 'female' as league_sex UNION
SELECT 'Γυναικών' as search_term, 'female' as league_sex UNION
SELECT 'ŽENE' as search_term, 'female' as league_sex UNION
SELECT ' Ž' as search_term, 'female' as league_sex UNION
SELECT ' Ž' as search_term, 'female' as league_sex
);

-- SELECT count(*) FROM fiba_europe_league_sex;


INSERT INTO fiba_europe_league_sex
SELECT 'men' as search_term, 'male' as league_sex UNION
SELECT 'Men' as search_term, 'male' as league_sex UNION
SELECT 'Male' as search_term, 'male' as league_sex UNION
SELECT 'male' as search_term, 'male' as league_sex UNION
SELECT 'man' as search_term, 'male' as league_sex UNION
SELECT 'Man' as search_term, 'male' as league_sex UNION
SELECT 'gentle' as search_term, 'male' as league_sex UNION
SELECT 'Gentle' as search_term, 'male' as league_sex UNION
SELECT 'Mascul' as search_term, 'male' as league_sex UNION
SELECT 'mascul' as search_term, 'male' as league_sex UNION
SELECT 'boy' as search_term, 'male' as league_sex UNION
SELECT 'Boy' as search_term, 'male' as league_sex UNION
SELECT 'Herre' as search_term, 'male' as league_sex UNION
SELECT 'herre' as search_term, 'male' as league_sex UNION
SELECT 'homme' as search_term, 'male' as league_sex UNION
SELECT 'Homme' as search_term, 'male' as league_sex UNION
SELECT 'Mężczyzn' as search_term, 'male' as league_sex UNION
SELECT 'Ανδρών' as search_term, 'male' as league_sex UNION
SELECT 'Mężczyzn' as search_term, 'male' as league_sex UNION
SELECT 'Chłopców' as search_term, 'male' as league_sex UNION
SELECT 'Heren' as search_term, 'male' as league_sex UNION
SELECT 'heren' as search_term, 'male' as league_sex UNION
SELECT 'deild karla' as search_term, 'male' as league_sex UNION
SELECT 'dječake' as search_term, 'male' as league_sex UNION
SELECT 'Varonil' as search_term, 'male' as league_sex UNION
SELECT 'varonil' as search_term, 'male' as league_sex UNION
SELECT 'Mężczyzn' as search_term, 'male' as league_sex
    ;

In [ ]:
%%sql

/*
Part 3.2 - Assign a sex to the match
**/


UPDATE fiba_europe_game_xref  SET page_header_text_search_term_sex = coalesce(B.search_term,page_header_text_search_term_sex), page_header_text_league_sex = coalesce(B.league_sex_update,page_header_text_league_sex),insert_date = now()
FROM (

  SELECT xx.page_header_text
        ,search_term
        ,league_sex as league_sex_update
  FROM
  (
SELECT DISTINCT page_header_text
FROM fiba_europe_schedules
  ) xx
left join (
  SELECT DISTINCT lower(search_term) as search_term
         ,league_sex
  FROM fiba_europe_league_sex
  where league_sex = 'male'
) as yy
  on lower(xx.page_header_text) like '%' || search_term || '%'

  ) as B
WHERE fiba_europe_game_xref.page_header_text = B.page_header_text;
;



UPDATE fiba_europe_game_xref  SET page_header_text_search_term_sex = coalesce(B.search_term,page_header_text_search_term_sex), page_header_text_league_sex = coalesce(B.league_sex_update,page_header_text_league_sex),insert_date = now()
FROM (

  SELECT xx.page_header_text
        ,search_term
        ,league_sex as league_sex_update
  FROM
  (
SELECT DISTINCT page_header_text
FROM fiba_europe_schedules
  ) xx
left join (
  SELECT DISTINCT lower(search_term) as search_term
         ,league_sex
  FROM fiba_europe_league_sex
  where league_sex = 'female'
) as yy
  on lower(xx.page_header_text) like '%' || search_term || '%'

  ) as B
WHERE fiba_europe_game_xref.page_header_text = B.page_header_text;
;

In [ ]:
%%sql
/*
Part 4.1 - Do the same for age. Make a big xref table with search terms that I 
believe designate the age of a match/league/competition
**/


DROP TABLE IF EXISTS fiba_europe_league_age;

CREATE TABLE fiba_europe_league_age as (

SELECT 'U8' as search_term, 'U8' as age UNION
SELECT 'Under 8' as search_term, 'U8' as age UNION
SELECT 'under 8' as search_term, 'U8' as age UNION
SELECT 'u8' as search_term, 'U8' as age UNION
SELECT 'U-8' as search_term, 'U8' as age UNION
SELECT 'u-8' as search_term, 'U8' as age UNION
SELECT 'Sub 8' as search_term, 'U8' as age UNION
SELECT 'Sub-8' as search_term, 'U8' as age UNION
SELECT 'sub 8' as search_term, 'U8' as age UNION
SELECT 'sub-8' as search_term, 'U8' as age UNION

SELECT 'U9' as search_term, 'U9' as age UNION
SELECT 'Under 9' as search_term, 'U9' as age UNION
SELECT 'under 9' as search_term, 'U9' as age UNION
SELECT 'u9' as search_term, 'U9' as age UNION
SELECT 'U-9' as search_term, 'U9' as age UNION
SELECT 'u-9' as search_term, 'U9' as age UNION
SELECT 'Sub 9' as search_term, 'U9' as age UNION
SELECT 'Sub-9' as search_term, 'U9' as age UNION
SELECT 'sub 9' as search_term, 'U9' as age UNION
SELECT 'sub-9' as search_term, 'U9' as age UNION


SELECT 'U10' as search_term, 'U10' as age UNION
SELECT 'Under 10' as search_term, 'U10' as age UNION
SELECT 'under 10' as search_term, 'U10' as age UNION
SELECT 'u10' as search_term, 'U10' as age UNION
SELECT 'U-10' as search_term, 'U10' as age UNION
SELECT 'u-10' as search_term, 'U10' as age UNION
SELECT 'Sub 10' as search_term, 'U10' as age UNION
SELECT 'Sub-10' as search_term, 'U10' as age UNION
SELECT 'sub 10' as search_term, 'U10' as age UNION
SELECT 'sub-10' as search_term, 'U10' as age UNION




SELECT 'U11' as search_term, 'U11' as age UNION
SELECT 'Under 11' as search_term, 'U11' as age UNION
SELECT 'under 11' as search_term, 'U11' as age UNION
SELECT 'u11' as search_term, 'U11' as age UNION
SELECT 'U-11' as search_term, 'U11' as age UNION
SELECT 'u-11' as search_term, 'U11' as age UNION
SELECT 'Sub 11' as search_term, 'U11' as age UNION
SELECT 'Sub-11' as search_term, 'U11' as age UNION
SELECT 'sub 11' as search_term, 'U11' as age UNION
SELECT 'sub-11' as search_term, 'U11' as age UNION



SELECT 'U12' as search_term, 'U12' as age UNION
SELECT 'Under 12' as search_term, 'U12' as age UNION
SELECT 'under 12' as search_term, 'U12' as age UNION
SELECT 'u12' as search_term, 'U12' as age UNION
SELECT 'U-12' as search_term, 'U12' as age UNION
SELECT 'u-12' as search_term, 'U12' as age UNION
SELECT 'Sub 12' as search_term, 'U12' as age UNION
SELECT 'Sub-12' as search_term, 'U12' as age UNION
SELECT 'sub 12' as search_term, 'U12' as age UNION
SELECT 'sub-12' as search_term, 'U12' as age UNION



SELECT 'U13' as search_term, 'U13' as age UNION
SELECT 'Under 13' as search_term, 'U13' as age UNION
SELECT 'under 13' as search_term, 'U13' as age UNION
SELECT 'u13' as search_term, 'U13' as age UNION
SELECT 'U-13' as search_term, 'U13' as age UNION
SELECT 'u-13' as search_term, 'U13' as age UNION
SELECT 'Sub 13' as search_term, 'U13' as age UNION
SELECT 'Sub-13' as search_term, 'U13' as age UNION
SELECT 'sub 13' as search_term, 'U13' as age UNION
SELECT 'sub-13' as search_term, 'U13' as age UNION


SELECT 'U14' as search_term, 'U14' as age UNION
SELECT 'Under 14' as search_term, 'U14' as age UNION
SELECT 'under 14' as search_term, 'U14' as age UNION
SELECT 'u14' as search_term, 'U14' as age UNION
SELECT 'U-14' as search_term, 'U14' as age UNION
SELECT 'u-14' as search_term, 'U14' as age UNION
SELECT 'Sub 14' as search_term, 'U14' as age UNION
SELECT 'Sub-14' as search_term, 'U14' as age UNION
SELECT 'sub 14' as search_term, 'U14' as age UNION
SELECT 'sub-14' as search_term, 'U14' as age UNION


SELECT 'U15' as search_term, 'U15' as age UNION
SELECT 'Under 15' as search_term, 'U15' as age UNION
SELECT 'under 15' as search_term, 'U15' as age UNION
SELECT 'u15' as search_term, 'U15' as age UNION
SELECT 'U-15' as search_term, 'U15' as age UNION
SELECT 'u-15' as search_term, 'U15' as age UNION
SELECT 'Sub 15' as search_term, 'U15' as age UNION
SELECT 'Sub-15' as search_term, 'U15' as age UNION
SELECT 'sub 15' as search_term, 'U15' as age UNION
SELECT 'sub-15' as search_term, 'U15' as age UNION



SELECT 'U16' as search_term, 'U16' as age UNION
SELECT 'Under 16' as search_term, 'U16' as age UNION
SELECT 'under 16' as search_term, 'U16' as age UNION
SELECT 'u16' as search_term, 'U16' as age UNION
SELECT 'U-16' as search_term, 'U16' as age UNION
SELECT 'u-16' as search_term, 'U16' as age UNION
SELECT 'Sub 16' as search_term, 'U16' as age UNION
SELECT 'Sub-16' as search_term, 'U16' as age UNION
SELECT 'sub 16' as search_term, 'U16' as age UNION
SELECT 'sub-16' as search_term, 'U16' as age UNION



SELECT 'U17' as search_term, 'U17' as age UNION
SELECT 'Under 17' as search_term, 'U17' as age UNION
SELECT 'under 17' as search_term, 'U17' as age UNION
SELECT 'u17' as search_term, 'U17' as age UNION
SELECT 'U-17' as search_term, 'U17' as age UNION
SELECT 'u-17' as search_term, 'U17' as age UNION
SELECT 'Sub 17' as search_term, 'U17' as age UNION
SELECT 'Sub-17' as search_term, 'U17' as age UNION
SELECT 'sub 17' as search_term, 'U17' as age UNION
SELECT 'sub-17' as search_term, 'U17' as age UNION




SELECT 'U18' as search_term, 'U18' as age UNION
SELECT 'Under 18' as search_term, 'U18' as age UNION
SELECT 'under 18' as search_term, 'U18' as age UNION
SELECT 'u18' as search_term, 'U18' as age UNION
SELECT 'U-18' as search_term, 'U18' as age UNION
SELECT 'u-18' as search_term, 'U18' as age UNION
SELECT 'Sub 18' as search_term, 'U18' as age UNION
SELECT 'Sub-18' as search_term, 'U18' as age UNION
SELECT 'sub 18' as search_term, 'U18' as age UNION
SELECT 'sub-18' as search_term, 'U18' as age UNION




SELECT 'U19' as search_term, 'U19' as age UNION
SELECT 'Under 19' as search_term, 'U19' as age UNION
SELECT 'under 19' as search_term, 'U19' as age UNION
SELECT 'u19' as search_term, 'U19' as age UNION
SELECT 'U-19' as search_term, 'U19' as age UNION
SELECT 'u-19' as search_term, 'U19' as age UNION
SELECT 'Sub 19' as search_term, 'U19' as age UNION
SELECT 'Sub-19' as search_term, 'U19' as age UNION
SELECT 'sub 19' as search_term, 'U19' as age UNION
SELECT 'sub-19' as search_term, 'U19' as age UNION



SELECT 'U20' as search_term, 'U20' as age UNION
SELECT 'Under 20' as search_term, 'U20' as age UNION
SELECT 'under 20' as search_term, 'U20' as age UNION
SELECT 'u20' as search_term, 'U20' as age UNION
SELECT 'U-20' as search_term, 'U20' as age UNION
SELECT 'u-20' as search_term, 'U20' as age UNION
SELECT 'Sub 20' as search_term, 'U20' as age UNION
SELECT 'Sub-20' as search_term, 'U20' as age UNION
SELECT 'sub 20' as search_term, 'U20' as age UNION
SELECT 'sub-20' as search_term, 'U20' as age UNION


SELECT 'U21' as search_term, 'U21' as age UNION
SELECT 'Under 21' as search_term, 'U21' as age UNION
SELECT 'under 21' as search_term, 'U21' as age UNION
SELECT 'u21' as search_term, 'U21' as age UNION
SELECT 'U-21' as search_term, 'U21' as age UNION
SELECT 'u-21' as search_term, 'U21' as age UNION
SELECT 'Sub 21' as search_term, 'U21' as age UNION
SELECT 'Sub-21' as search_term, 'U21' as age UNION
SELECT 'sub 21' as search_term, 'U21' as age UNION
SELECT 'sub-21' as search_term, 'U21' as age UNION



SELECT 'U22' as search_term, 'U22' as age UNION
SELECT 'Under 22' as search_term, 'U22' as age UNION
SELECT 'under 22' as search_term, 'U22' as age UNION
SELECT 'u22' as search_term, 'U22' as age UNION
SELECT 'U-22' as search_term, 'U22' as age UNION
SELECT 'u-22' as search_term, 'U22' as age UNION
SELECT 'Sub 22' as search_term, 'U22' as age UNION
SELECT 'Sub-22' as search_term, 'U22' as age UNION
SELECT 'sub 22' as search_term, 'U22' as age UNION
SELECT 'sub-22' as search_term, 'U22' as age UNION




SELECT 'U23' as search_term, 'U23' as age UNION
SELECT 'Under 23' as search_term, 'U23' as age UNION
SELECT 'under 23' as search_term, 'U23' as age UNION
SELECT 'u23' as search_term, 'U23' as age UNION
SELECT 'U-23' as search_term, 'U23' as age UNION
SELECT 'u-23' as search_term, 'U23' as age UNION
SELECT 'Sub 23' as search_term, 'U23' as age UNION
SELECT 'Sub-23' as search_term, 'U23' as age UNION
SELECT 'sub 23' as search_term, 'U23' as age UNION
SELECT 'sub-23' as search_term, 'U23' as age UNION




SELECT 'U24' as search_term, 'U24' as age UNION
SELECT 'Under 24' as search_term, 'U24' as age UNION
SELECT 'under 24' as search_term, 'U24' as age UNION
SELECT 'u24' as search_term, 'U24' as age UNION
SELECT 'U-24' as search_term, 'U24' as age UNION
SELECT 'u-24' as search_term, 'U24' as age UNION
SELECT 'Sub 24' as search_term, 'U24' as age UNION
SELECT 'Sub-24' as search_term, 'U24' as age UNION
SELECT 'sub 24' as search_term, 'U24' as age UNION
SELECT 'sub-24' as search_term, 'U24' as age UNION




SELECT 'Młodzików' as search_term, 'youth' as age UNION
SELECT 'Młodzieżowy' as search_term, 'youth' as age UNION
SELECT 'mlađe' as search_term, 'youth' as age UNION
SELECT 'Youth' as search_term, 'youth' as age UNION
SELECT 'Kids' as search_term, 'youth' as age UNION
SELECT 'kids' as search_term, 'youth' as age UNION
SELECT 'children' as search_term, 'youth' as age UNION
SELECT 'Children' as search_term, 'youth' as age UNION

SELECT 'senior' as search_term, 'senior' as age UNION
SELECT 'Senior' as search_term, 'senior' as age
);

In [ ]:
%%sql
/*
Part 4.2 - Assign an age to the match
**/

UPDATE fiba_europe_game_xref  SET page_header_text_search_term_age = coalesce(B.search_term,page_header_text_search_term_age), page_header_text_league_age = coalesce(B.league_age_update,page_header_text_league_age),insert_date = now()
FROM (

  SELECT xx.page_header_text
        ,search_term
        ,league_age as league_age_update
  FROM
  (
SELECT DISTINCT page_header_text
FROM fiba_europe_schedules
  ) xx
left join (
  SELECT DISTINCT lower(search_term) as search_term
         ,age as league_age
  FROM fiba_europe_league_age

) as yy
  on lower(xx.page_header_text) like '%' || search_term || '%'

  ) as B
WHERE fiba_europe_game_xref.page_header_text = B.page_header_text;
;

#### Next Steps:

* Now that we have the necessary metadata for each match, we can pull together blocks of matches (male-adult, female-adult, male-youth, female-youth) and start training some algorithms